<%- include('partials/header') -%>
    <h1 class="display-6 text-center">Welcome back</h1>

    <form class="row g-3 px-5 form login-form" action="" method="POST">
        <div class="col-12">
            <input type="email" class="form-control" placeholder="Access e-mail" aria-label="E-mail">
        </div>
        <div class="col-12">
            <input type="password" class="form-control" placeholder="Password" aria-label="Password">
        </div>
        <div class="col-12 d-grid">
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
    </form>
    <%- include('partials/footer') -%>