<%- include('partials/header') -%>
    <h1 class="display-6 text-center">Register to become a member and have a better experience</h1>

    <form class="row g-3 px-5 form register-form" action="" method="POST">
        <div class="col-md-6">
            <input type="text" class="form-control" placeholder="First name" aria-label="First name">
        </div>
        <div class="col-md-6">
            <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
        </div>
        <div class="col-12">
            <input type="email" class="form-control" placeholder="E-mail" aria-label="E-mail">
        </div>
        <div class="col-12">
            <input type="password" class="form-control" placeholder="Password" aria-label="Password">
        </div>
        <div class="col-12 d-grid">
            <button type="submit" class="btn btn-primary">Register</button>
        </div>
    </form>
    <%- include('partials/footer') -%>